readonly CONFIG_DIR=/opt/snowplow/config

sudo mkdir -p $${CONFIG_DIR}

sudo base64 --decode << EOF > $${CONFIG_DIR}/collector.hocon
${config_b64}
EOF

sudo docker run \
  -d \
  --name collector \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
  --log-opt max-size=10m \
  --log-opt max-file=5 \
  --mount type=bind,source=$${CONFIG_DIR},target=/snowplow/config \
  -p ${port}:${port} \
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env ACCEPT_LIMITED_USE_LICENSE=${accept_limited_use_license} \
  --env INSTANCE_ID=$(get_instance_id) \
  snowplow/scala-stream-collector-kafka:${version} \
  --config /snowplow/config/collector.hocon

${telemetry_script}
